.form-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #f1f1f1, #1f1f1f);
}
.shoe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 100px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 2rem;
    padding: 15px;
}

.shoe-form input {
    padding: 10px 13px;
    margin: 5px 0;
}

.error-header {
    text-align: center;
    color: red;
}

.form-container a {
    color: blue;
    text-decoration: underline;
}

input[type="submit"] {
    font-size: 1.5rem;
    width: 50%;
    margin: 5px auto;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.1);
}