.spinner-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    position: relative;
    width: 60px;
    height: 60px;
    border: 5px solid black;
    border-right-color: red;
    border-radius: 50%;
    background-color: transparent;
    animation: spin infinite 1s ease-in-out;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}