.shoe-details-container {
    margin-top: 10px;
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
}

.shoe-details-container img{
    height: 60%;
    border-radius: 15px;
} 

.shoe-details-container button {
    font-size: 2rem;
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
}



.edit-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
}
.back-btn {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    background-color: transparent;
    border: none;
}

.home-link {
    position: absolute;
    top: 0;
    right: 0;
    align-self: flex-end;
    margin: 30px;
}