* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:.2s;
}
*:hover {
  transition: 0.2s;
}

a { 
  text-decoration: none;
color: unset;
}
li { list-style: none;}
button {cursor: pointer;}